{% extends "layout.html" %}
{% block content %}

<div class="container my-4">
    <h2 class="text-center mb-4"> {{ title }} </h2>
    <form id="compareForm">
        <!-- Container grid untuk hewan -->
        <div class="animal-show">
            {% for animal in animals %}
            <div class="card text-decoration-none">
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="img-container">
                        <img src="{{ url_for('static', filename='uploads/' + animal['image']) }}" class="card-img-top border-1" alt="Gambar {{ animal['name'] }}">
                    </div>
                    <div class="text-container mt-2">
                        <h5 class="card-title"> {{ animal['name'] }} </h5>
                        <p class="mb-1 text-smaller"> {{ animal['breed'] }}</p>
                        <p class="mb-1 text-smaller"> {{ animal['datebirth'] }}</p>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="animal_{{ loop.index }}" name="selected_animals" value="{{ animal['_id'] }}">
                        <label class="form-check-label" for="animal_{{ loop.index }}"> Compare </label>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3 mb-5"> Compare Selected Animals </button>
        </div>
    </form>
</div>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
    $("#compareForm").submit(function (e) {
        e.preventDefault();

        let selectedAnimals = [];
        $("input[name='selected_animals']:checked").each(function () {
            selectedAnimals.push($(this).val());
        });

        if (selectedAnimals.length < 2) {
            alert("Pilih minimal 2 hewan untuk dibandingkan!");
            return;
        }

        localStorage.setItem("comparedAnimals", JSON.stringify(selectedAnimals));
        window.location.href = "/compare/selected_animals";
    });
});
</script>

{% endblock %}