{% extends "layout.html" %}
{% block content %}
    
<div class="container mt-4">
    <h1>User Profile</h1>

    <!-- Display User Data -->
    <div class="profile-info">
        <p><strong>Username:</strong> <span id="username">User</span></p>
        <p><strong>Email:</strong> <span id="email">user@gmail.com</span></p>
    </div>

    <!-- Button Logout -->
    <a href="{{ url_for('auth.logout') }}">
        <button type="submit" class="btn btn-primary mt-4 w-100">
            Logout <i class="fa-solid fa-arrow-right"></i>
        </button>
    </a>
</div>

{% endblock %}